@media (max-width: 1024px)
    .design
        .design__wrapper 
            .design__card 
                .shapes__box 
                    align-self: baseline
                    .shape__line_thin
                        width: 50px
                    .shape__line__optimal 
                        margin-top: 16px
                    .shape__numb
                        line-height: 1.78
                .design__image__box 
                    .design__image 
                        width: 571px


@media (max-width: 480px)
    .promo
        height: 930px
        .promo__header 
            .nav__items
                flex-wrap: wrap
                justify-content: center
                flex-direction: column
                align-content: center
                align-items: center
            .promo__logo
                width: 143px
                height: 100%
        .promo__wrapper
            .center__block
                order: -1
                .center__pos__block
                    h1
                        font-size: 61px
            .horizontal__left__text
                display: none
@media (max-width: 541px)
    .promo
        overflow: hidden
@media (max-width: 320px)
    .promo
        .promo__header 
            .nav__items 
                .nav__item
                    font-size: 13px
        .promo__wrapper 
            flex-wrap: wrap
            justify-content: flex-end
            .center__block 
                .center__pos__block 
                    h1
                        font-size: 54px
                        letter-spacing: 14px
                    .button_promo
                        width: 302px